<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tukorea.free.mapper.UserMapper">

	<select id="selectById" resultType="org.tukorea.free.domain.UserVO" parameterType="String">
		select * from user_free where id = #{id}
	</select>

	<select id="selectAll"
		resultType="org.tukorea.free.domain.UserVO">
     <![CDATA[
 		select * from user_free
      ]]>
	</select>

	<update id="update">
		update user_free set id =#{id}, password =#{password} 
		where id = #{id}
	</update>

	<delete id="delete">
		delete from user_free where id = #{id}
	</delete>
	
	<insert id="insert" parameterType="UserVO">
		INSERT INTO
		user_free (id, password)
		VALUES (#{id}, #{password})
	</insert>
	

</mapper>  

